export BENCHER_API_TOKEN="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhcGlfa2V5IiwiZXhwIjo2MDMwODcwMTY5LCJpYXQiOjE3MzU5MDI4NzQsImlzcyI6ImJlbmNoZXIuZGV2Iiwic3ViIjoibmlrb2xhaUBtaXNzaW9uY3RybC5kZXYiLCJvcmciOm51bGx9.JjIDLAX6UyIyyqsdC9o3ubfuf5c9gnACD_nDicEnnVE"

watch_file \
  rust-toolchain.toml \
  nix/modules/rust.nix \
  nix/modules/devshell.nix

source_url https://raw.githubusercontent.com/juspay/omnix/75ed48923835963e2f18baba08f54a8adc307ba2/omnixrc "sha256-8C2Jb5bHx/0cvm1+9gOlBEdWzbikCWT5UsJWewUAFt4="
watch_file om.yaml
use omnix
